:root {
    --primary: hsl(0, 20%, 96%);
    --secondary: hsl(0, 0%, 36%);
    --tertiary: hsl(0, 2%, 80%);
}

.nav-links ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap:  10px;
    padding: 20px 0;
}
.nav-links ul a {
    text-decoration: none;
    color: var(--tertiary);
}
.nav-links ul a:hover {
    color: var(--secondary);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    height: 200px;
    background-color: var(--tertiary);
}
.wrapper a{
    text-decoration: none;
}

.add {
    padding: 0 10px;
    color: var(--tertiary);
    background-color: var(--secondary);
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    font-size: 14px;
}
