:root {
    --primary: hsl(0, 20%, 96%);
    --secondary: hsl(0, 0%, 36%);
    --tertiary: hsl(0, 2%, 80%);
}

.nav-links ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap:  10px;
    padding: 20px 0;
}
.nav-links ul a {
    text-decoration: none;
    color: var(--tertiary);
}
.nav-links ul a:hover {
    color: var(--secondary);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    height: 200px;
    background-color: var(--tertiary);
}
.wrapper a{
    text-decoration: none;
}

.contact {
    padding: 20px 30px;
    background-color: var(--tertiary);
}
.contact h1 {
    text-align: center;
    padding-bottom: 20px;
    color: var(--secondary);
}
.contact p {
    font-size: 18px;
}

.about {
    padding: 20px 30px;
    background-color: var(--tertiary);
}
.about h1 {
    text-align: center;
    padding-bottom: 20px;
    color: var(--secondary);
}
.about p {
    font-size: 18px;
}

.user-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px 0;
    padding: 20px 30px;
    border-radius: 3px;
    background-color: var(--tertiary);
}
.user-form .title {
    width: 30%;
    padding: 5px;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    color: var(--secondary);
    outline: none;
}
.user-form .content {
    width: 50%;
    height: 120px;
    padding: 5px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    color: var(--secondary);
    outline: none;
}
.user-form button {
    width: 10%;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    color: var(--secondary);
    outline: none;
    cursor: pointer;
}

.details {
    padding: 20px 30px;
    background-color: var(--tertiary);
}
.details h3 {
    font-size: 24px;
}
.details p {
    padding-top: 10px;
    font-size: 16px;
}

.add {
    padding: 0 10px;
    color: var(--tertiary);
    background-color: var(--secondary);
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    font-size: 14px;
}
